---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-8" title="A propos de moi">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Je suis un étudiant passionné par le monde de la DATA .
      <br />
       Mes principaux outils/languages que j'utilise:
      <ul class="list-disc list-inside">
        <li>Python</li>
        <li>R</li>
        <li>SQL - PostgreSQL</li>
        <li>SAS</li>
        <li>JavaScript</li>
        <li>Tableau</li>
        <li>PowerBi</li>
        <li>HTML - CSS</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Au delà de la DATA, je suis un passionné de sport et particulièrement de football.
    </p>
    <p class="text-sm font-light">
      Je suis quelqu'un qui adore découvrir de nouvelles technos et j'utilise les outils
      idéaux pour réaliser mes projets.
    </p>
  </div>
</Card>
